<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Val_AdvancedContactUs::config" title="AdvancedContactUs config" sortOrder="10">
                                <resource id="Val_AdvancedContactUs::save" title="Save messages" sortOrder="10"/>
                                <resource id="Val_AdvancedContactUs::delete" title="Delete messages" sortOrder="20"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>